body {
  margin: 0;
  padding: 0;
  background: #ecf0f1;
}

body * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.flowWrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 24px;
  /* justify-content: center; */
  /* background-color: #7a7a7aba; */
}

.viewerWrapper {
  width: 100%;
  height: calc(100% - 88px);
  max-width: 1400px;
  margin-left: auto;
  margin-top: auto;
  box-shadow: 0 0 6px 0 rgba(44, 49, 53, .5019607843137255);
  border-radius: 16px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  overflow: hidden;
}

.viewerHeader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0px;
}

.toolbarWrapper {
  background-color: #fff;
  width: 100%;
  padding: 6px 16px;
  display: flex;
  justify-content: space-between;
}

.react-flow-node-resizer-example {
  height: calc(100% - 32px) !important;
  background-color: #dfdfdf !important;
}

.react-flow__node {
  box-shadow: 0 0 6px 0 rgba(44, 49, 53, .5019607843137255);
  padding: 0 !important;
}

.react-flow__handle {
  width: 20px !important;
  height: 20px !important;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

/* html,
body {
  height: 90%;
  background: #ecf0f1;
} */
.react-flow__node {
  cursor: auto !important;
}


label {
  display: block;
}

label>input[type=checkbox] {
  display: none;
}

.check-1 {
  position: fixed;
  /* transfrom: translatex(-50%) translatey(-50%); */
  width: 50px;
  height: 30px;
  border-radius: 50px;
  position: relative;
  cursor: pointer;
}

.webviewer>.check-1 {
  position: absolute;
}

.webviewer {
  overflow: hidden !important;
  border-radius: 0 0 12px 12px;
}

.react-flow__resize-control {
  background-color: yellow !important;
  z-index: 999;
}

.check-1 .inner {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  border: 2px solid #e8e8e8;
  background: #f9f9f9;
  transition: all .2s ease;
  cursor: pointer;
}

.check-1 .bullet {
  position: relative;
  width: 25px;
  height: 25px;
  background: #eee;
  border-radius: 50%;
  transition: all .3s ease;
  top: 2px;
  left: 2px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, .15);
}

.check-1 input:checked~.inner {
  border: 15px solid #2ecc71;
  transition: all .2s ease;
}

.check-1 input:checked~.bullet {
  left: 23px;
  transition: all .3s ease;
  animation: .2s bullet;
}

@keyframes bullet {

  0%,
  100% {
    width: 25px;
  }

  40% {
    width: 30px;
  }
}

.toggleWrapper {
  width: auto;
  display: flex;
  gap: 30px;
  margin-right: 20px;
}

.drag-handle>svg {
  width: 16px;
}

.drag-handle {
  margin-left: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 25px;
  cursor: grab;
}

.drag-handle:active {
  cursor: grabbing;
}

table {
  width: 100%;
  height: 100%;
}